[Unit]
Description=Open source RGB lighting control that doesn't depend on manufacturer software.
After=graphical.target

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=openrgb-load-profile
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=default.target
